.container{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.header{
    text-align: center;
}
.content{
    font-weight:1000px;
    font-size: large;
    text-align: center;
}

a{
    text-decoration: none;
}